$main-color: #bc9cff;
$second-color: #6fcf97;
$main-color-light: #efefff;

$text-color: #1f2041;

$text-color-5: rgba($text-color, 0.5);
$text-color-25: rgba($text-color, 0.25);
$text-color-50: rgba($text-color, 0.5);
$text-color-75: rgba($text-color, 0.75);
